#root {
  font-family: "Spartan";
  color: hsl(180, 14%, 20%);
  font-weight: 500;
}

nav {
  background-color: hsl(180, 29%, 50%);
}

.topBar {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 120px;
}

.jobContainer {
  background-color: hsl(180, 52%, 96%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.jobListing,
.filters {
  display: flex;
  margin: 1rem;
  width: 80%;
  border-radius: 5px;
  -webkit-box-shadow: 0 6px 6px -2px hsl(180, 29%, 80%);
  -moz-box-shadow: 0 6px 6px -2px hsl(180, 29%, 80%);
  box-shadow: 0 6px 6px -2px hsl(180, 29%, 80%);
}

.filters {
  justify-content: space-between;
  align-items: center;
}

.clear {
  padding: 0.5rem;
  margin: 1rem;
  color: hsl(180, 29%, 50%);
}

.clear:hover {
  text-decoration: underline;
}

.jobListing:hover {
  border-left: 5px solid hsl(180, 29%, 50%);
}

.jobListing:first-child {
  margin-top: 3rem;
}

.filter {
  display: flex;
  margin: 1rem;
  border: none;
  border-radius: 5px;
  overflow: hidden;
}

.filteredSkills {
  display: flex;
}

.deselect,
.skillFilter {
  border: none;
  border-radius: 0;
  font: inherit;
}

.skillFilter {
  color: hsl(180, 29%, 50%);
}

.deselect {
  padding: 0.5rem;
  background-color: hsl(180, 29%, 50%);
  color: hsl(180, 52%, 96%);
}

.deselect:hover {
  background-color: hsl(180, 14%, 20%);
}

.jobDescription {
  display: flex;
  width: 60%;
  align-items: center;
}

.logo {
  width: auto;
  height: 90px;
  margin: 0;
  padding: 2rem;
}

.jobTitle {
  display: flex;
  margin: 0;
  align-items: center;
  font-weight: 700;
}

.company {
  margin-right: 1rem;
  color: hsl(180, 29%, 50%);
}

.new {
  margin-right: 1rem;
  color: hsl(180, 52%, 96%);
  background-color: hsl(180, 29%, 50%);
  padding: 0.3rem 0.5rem;
  border-radius: 10px;
}

.featured {
  color: hsl(180, 52%, 96%);
  background-color: hsl(180, 14%, 20%);
  padding: 0.3rem 0.5rem;
  border-radius: 10px;
}

.location {
  color: hsl(180, 8%, 52%);
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 40%;
  align-items: center;
  color: hsl(180, 29%, 50%);
  font-weight: 700;
}

.skills > button {
  margin-right: 2.5rem;
  border: none;
  background-color: none;
  font: inherit;
  color: inherit;
  padding: 0.5rem;
  border-radius: 5px;
}

.skills > button:hover {
  background-color: hsl(180, 29%, 50%);
  color: hsl(180, 52%, 96%);
}

@media (max-width: 600px) {
  .jobListing,
  .jobDescription,
  .filteredSkills,
  .filters {
    flex-direction: column;
    align-items: center;
  }

  .jobDescription {
    width: 100%;
  }

  .logo {
    align-self: flex-start;
    padding: 0 1rem;
    height: 50px;
  }

  .jobDetails {
    border-bottom: 1px solid hsl(180, 8%, 52%);
  }

  .skills {
    flex-direction: row;
    width: 80%;
    justify-content: flex-start;
    padding: 0;
  }
}
